ul {
    list-style-type: none;
    min-width: 800px;
    margin-left: 250px;
    display: grid;
    grid-template-columns: 20% 16% 20% 16%;
    align-items: center;
    justify-content: right;

    li {
        width: auto;
        text-align: right;

        a {
            text-decoration: none;
            color: #33cc95;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                color: #150446;
                filter: brightness(0.9);
                transition: all .3s ease;
                font-weight: 400;
            }
        }
    }
}