.product {
    padding: 1rem;
    border-radius: .25rem;
    background-color: #fff;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        background-color: #e8e1e1;
        transition: all .3s ease;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: .25rem;

        .name {
            font-size: 1.25rem;
            font-weight: 400;
            color: #1e4bb6;
            text-transform: uppercase;
        }

        .description {
            color: #888;
            font-style: italic;
        }

        .price {
            margin-top: .5rem;
            font-weight: 700;
            color: #072365;
        }

    }
}

.actions {
    display: flex;
    gap: .5rem;

    button {
        cursor: pointer;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        transition: filter 0.2s;
        color: #1e4bb6;

        &:hover {
            filter: brightness(0.7);
        }
    }

    .deleteProduct {
        color: #E74C3C;
    }

}