.primaryButton {
    background: #2980B9;
    color: #fff;
    border: none;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.9);
    }
}